.header{
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8), ),
        url(../img/hero.jpg); 
    background-size: cover;
    background-position: top;
    position: relative;
    /* bacface used to remove the junkiness during animation*/
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); 
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); 
        /* start from top right, go clockwise, 
        if you want image to cover entire x or y co-ordinate use 100 percent, 
        if x and y does not move relative to the top right point, use 0 percent */

        &__logo-box{
            position: absolute;
            top: 4rem;
            left: 4rem;
        }
        
        &__logo{
            height: 3.5rem;
        }
        
        &__logo-box:hover .logo{
            animation: moveInRight 3s ease-out;
        }
        
        &__text-box{
            position: absolute;
            top: 40%;
            left: 50.5%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    
}
